#id {
  color:red($color: #123455)
}

#input {
  width: 100%;
  // border-radius: 0px;
}

#friends {
  max-height: 90%;
  overflow-y: auto;
}

#friend {
  position: sticky;
  bottom: 0;
  right: 0;
}
