
<mat-card>
  {{comment.author}} : {{comment.content}}
  <div>
    <button mat-button (click)="likeTreeComment()">LIKE</button>
    {{comment.likes}}
    <button mat-button (click)="reply()">REPLY</button>
  </div>
  <p *ngIf="comment.edited">edited</p>

  <div *ngIf="replyField">
    <mat-card *ngFor="let reply of comment.replies">
      <mat-card-header> {{reply.author}} : {{reply.content }}
        <div>
          <button mat-button (click)="like()">LIKE</button>
          {{comment.likes}}
          <button mat-button >REPLY</button>
        </div>
      </mat-card-header>
   </mat-card>
    <div *ngIf="replyField">
        <form [formGroup]="form" (submit)="onAddReply()">
          <mat-form-field>
            <input matInput type="text" formControlName="content" placeholder="say something...">
          </mat-form-field>
        </form>
      </div>
  </div>

  </mat-card>
