
<mat-card>
  {{comment.author}} : {{comment.content}}
  <div>
    <button mat-button (click)="likeTreeComment()">LIKE</button>
    {{comment.likes.length}}
    <button mat-button (click)="replyBoolean()">REPLY</button>
    <button mat-button (click)="deleteTreeComment()">DELETE</button>
    <button mat-button (click)="editTreeComment()">EDIT</button>
    <button mat-button *ngIf="comment.edited && comment.edited.length > 0" (click)="showParentEdits()">edited</button>
  </div>

  <div *ngIf="replyField">
    <mat-card *ngFor="let reply of comment.replies">
      <mat-card-header> {{reply.author}} : {{reply.content }}
        <div>
          <button mat-button (click)="likeLeafComment(reply._id)">LIKE</button>
          {{reply.likes.length}}
          <button mat-button >REPLY</button>
          <button mat-button (click)="deleteLeafComment(reply._id)">DELETE</button>
          <button mat-button (click)="editLeafComment(reply)">EDIT</button>
          <button mat-button *ngIf="reply.edited && reply.edited.length > 0" (click)="showLeafEdits(reply)">edited</button>
        </div>
      </mat-card-header>
   </mat-card>
    <div *ngIf="replyField">
        <form [formGroup]="form" (submit)="onAddReply()">
          <mat-form-field>
            <input matInput type="text" formControlName="content" placeholder="say something...">
          </mat-form-field>
        </form>
      </div>
  </div>

  </mat-card>
