.widget{
    // position: fixed;
    // bottom: 1% ;
    // margin: 1%;
    padding: 5%;
    width: 200px;
    height: 250px;
    background-color: rgba(255,255,255, 0.8);
    border: medium;
}
.space{
  width: 200px;
  height: 30px;
  background-color: rgba(255,255,255, 1);
}
ul {
  text-align: left;
  padding-left: 0em !important
}

.input {
  bottom: 1%;
  position: fixed;
  width: 160px;
}

#chatbody {
overflow-y: auto;
display: flex;
flex-direction:column-reverse ;
}
