ul {
  text-align: left;
  padding-left: 0em
}

#chatbody {
  height: 250px;
  background-color: rgba(255,255,255, 0.8);
  border: medium;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0;
  padding-bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse ;
}

.space.rounded-top {
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.space {
  height: 30px;
  background-color: rgba(255,255,255, 1);
}

.row .container-fluid {
  margin: 0px;
}

#main {
  width: 250px;
  bottom: 2vh;
}

#submit {
  right: 0px;
  padding: 0;
  width: 50px;
  opacity: 1;
  border-radius: 0px;
}

textarea {
  width: 145px;
  overflow: hidden;
  resize: none;
}
