<!DOCTYPE html>
<html lang="en">
<head>

  <title></title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" alt='/socket.io/socket.io.js' defer></script>
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');
  </style>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet'/>

</head>

<body style="overflow:hidden" (window:resize)='resizeWindow()'>

  <header-navbar (featureSelected)="onNavigate($event)"></header-navbar>


  <div><app-registration  *ngIf='currentFeature === "Registration"'></app-registration></div>
  <div><app-login  *ngIf='currentFeature === "Login"'></app-login></div>
  <div><app-map></app-map></div>


  <div id="chatroom">
    <app-chatsystem></app-chatsystem>
  </div>
</body>
</html>
