#titletab {
    background-color: rgba(236, 115, 106, 0.836);
    margin: 0;
    font-family: 'Baloo Bhaina 2', cursive;
}

#user {
    max-width: 500px;
    position: absolute;
    margin: 0 10px 0 10px;
    right: 0;
    top:0;
}

#title {
    color: white;
}


