body{
    background-Color: rgb(21, 158, 124);
    margin: 0;
    font-family: "Montserrat","Avenir";
}

#user{
    max-width: 500px;
    position: absolute;
    margin: 0 10px 0 10px;
    right: 0;
    top:0;
}
#container{
    margin: 20px auto;
    max-width:1600px;
}
button:hover{
    color: white;
    background-color: steelblue;
}

#title {
    color: white;
}
