<form
class='modal-body'
id='form'
(ngSubmit)="onSubmit()"
[formGroup]='registrationForm'>
  <h1 class='jumbotron modal-title'>Registration</h1>
    <div class='form-group'>
    <!-- username -->
      <label for='username'>Username</label>
      <input
        class='form-control'
        formControlName='username'
        type='text'
        id='username'
        placeholder='Enter a Username'>
    </div>
    <small id="passwordHelpBlock" class="text-muted text-danger" *ngIf="checkUsernameUse()">This username is already in use.</small>
    <small id="passwordHelpBlock" class="text-muted text-danger" *ngIf="checkUsernameLength()">Your password must be between 2 and 15 characters long.</small>
    <!-- password confirmation -->
    <div formGroupName='passwords'>
      <!-- password -->
      <div class='form-group'>
        <label for='password'>Password</label>
        <input
        class='form-control'
        formControlName='password'
        type='password'

        placeholder='*******************'>
      </div>
      <!-- confirm password -->
      <div class='form-group'>
        <label for='password'>confirm your password</label>
        <input
        class='form-control'
        formControlName='confirmPassword'
        type='password'
        placeholder='*******************'>
        <small id="passwordHelpBlock" class="text-danger" *ngIf="checkPasswordValidity">Your passwords does not match</small>
      </div>
    </div>
    <!-- email -->
    <div class='form-group'>
      <label for='email'>Email Address</label>
      <input
      class='form-control'
      formControlName='email'
      placeholder='Enter a valid Email'
      type='email'
      id='email'
      placeholder='name@example.com' >
      <small id='emailHelp' class='form-text text-muted'>We'll never share your email with anyone else.</small>
    </div>
    <!-- checkbox -->
    <div class='form-group form-check'>
      <input
      formControlName='checkbox'
      type='checkbox'
      class='form-check-input'
      id='terms'>
      <label class='form-check-label' for='terms'>I have read and understand the terms & conditions of this agreement</label>
    </div>
    <button type='submit' id='submit' class='btn btn-primary' aria-required='true'>Register</button>
</form>
