<button type="button" class="btn" (click)='navigate()' *ngIf="searchResult.venue">
  <mat-card>

    <mat-card-header>
      <mat-card-title>{{searchResult|null:['venue','name']}}</mat-card-title>
      <mat-card-subtitle>
        <div *ngFor="let item of (searchResult|null: ['venue','categories'])">
          {{item.name}}
        </div>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="container">
      <p>
        {{searchResult|null:['venue','location','address']}}
      </p>
    </mat-card-content>
<mat-card *ngIf="searchResult.type == 'venue'">

  <mat-card-header (click)='navigate()' >
    <mat-card-title>{{searchResult.name}}</mat-card-title>
    <mat-card-subtitle>{{searchResult.category}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="container col">
        <span id="description" class="row justify-content-end" (click)='navigate()' >
          <span *ngFor='let item of searchResult.address.formattedAddress'>
            {{ item }},&nbsp;
          </span>
        </span>
        <hr>
        <span class="row justify-content-end">
          <mat-icon mat-icon-button matTooltip="share" matTooltipPosition='above' color='accent' class="col-auto md-auto">share</mat-icon>
          &nbsp;
          <mat-icon mat-icon-button matTooltip="show on map" matTooltipPosition='above' color='primary' class="col-auto md-auto">map</mat-icon>
          &nbsp;
          <mat-icon mat-icon-button matTooltip="add to trip" matTooltipPosition='above' class="col-auto md-auto">playlist_add</mat-icon>
          &nbsp;
        </span>

  </mat-card-content>


<button type="button" class="btn" (click)='navigate()' *ngIf="searchResult.username">
  <mat-card>

    <mat-card-header>
      <mat-card-title>{{searchResult|null:['firstname']}} {{searchResult|null:['lastname']}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="container">
      <div>{{searchResult|null: ['username']}}</div>
      <div>
        <!-- dunno why these dont work -->
        <!-- <p *ngFor="let item of searchResult|null:['history']">{{item}}</p> -->
      </div>
      <div>
        <!-- <p *ngFor="let item of searchResult|null:['whishlist']">{{item}}</p> -->
      </div>
    </mat-card-content>


</mat-card>
<br>
