<div  id='main' class="col-auto" *ngIf='sessionState'>
  <!-- top of widget -->
  <div class="space rounded-top" [innerText]='sessionRoomName' aria-readonly="true" (click)='toggleChatWidget()'></div>

  <!-- messages -->
  <div class="text-wrap" id='chatbody'*ngIf='sessionState'>
    <br>
    <div class="text-wrap" id='textarea' #textarea ></div>
  </div> 

  <!-- text and enter button -->
  <div class='space rounded-bottom' >
    <form (submit)='sendMessage(msg.value)' class="container-fluid" autocomplete="off">
      <div class="row">
        <textarea class="col-auto" name="ngModel" [(ngModel)]='typeArea' #msg='ngModel' type="textarea" (keydown)='onKey($event)'></textarea>
        <input class='btn btn-primary col' id='submit' type="submit" value="Send">
      </div>
    </form>
  </div>

</div>