#sidebar {
    z-index: 1;
    position: fixed;
    max-height: 85%;
    max-width: 25;
    border-radius: 1%;
    background-color: rgba(255,255,255,0.7);
}


.row {
    height: 5%;
    background-color: rgba(255,255,255,0.85);
}

mwlResizable {
    box-sizing: border-box; // required for the enableGhostResize option to work
  }