#sidebar {
    z-index: 1;
    position: absolute;
    top: 10%;
    bottom: 0%;
    left: 2%;
    max-height: 85%;
    max-width: 25;
    border-radius: 1%;
    background-color: rgba(255,255,255,0.7);
}


.row {
    height: 5%;
    background-color: rgba(255,255,255,0.85);
}
