<!-- <ul class="nav nav-pills nav-fill border-right" id="sidebar" 
    mwlResizable
    [validateResize]='validate'
    [enableGhostResize]="true"
    [resizeEdges]="{ bottom: false, right: true, top: false, left: false }"
    (resizeEnd)="onResizeEnd($event)"
    [ngStyle]='Styles'>
        
        <li class="nav-item" *ngFor='let item of items, let i = index' >
            <a class="nav-link" data-toggle="pill" [ngClass]="{'active': i === 0}" style="cursor: pointer;">{{ item }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"><button class="close" data-toggle="collapse" data-target='#collapseSidebar' type='button' role="button" ><span aria-hidden="true">&times;</span></button></a>
        </li>
</ul>   -->
    
<button class="navbar-toggler close" type="button" data-toggle="collapse" data-target="#sidebarContent"
        aria-controls="sidebarContent" aria-expanded="false" aria-label="Toggle navigation"
        id="theButton">
    <span class="navbar-toggler-icon bg-light "></span>
</button>  

<div class="navbar navbar-expand-lg navbar-collapse collapse sidebar" id="sidebarContent" aria-expanded="true"
    mwlResizable
    [enableGhostResize]="true"
    [resizeEdges]="{ bottom: false, right: true, top: false, left: false }"
    (resizeEnd)="onResizeEnd($event)">

    <div class="" id="sidebarContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="" class="">hello</a>
            </li>
        </ul>
    </div>
</div>
