<div style="position: relative;" *ngIf='sessionState'>
    <div class="container" style="background-color: rgba(255, 200, 200, 1); padding: 1em;">
        <div class="row justify-content-center">
            <button mat-mini-fab class="col-auto align-self-center" (click)='openModal()'>
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <br>
    <div class="" style="max-height: 100%; overflow-y: auto;">
        <div *ngIf='!trips' class="container-fluid row rounded align--items-center" style="background-color: rgba(255, 255, 255, 1); min-height: 100px;">
            &nbsp;<h2 class="align-self-center">No trips Yet...</h2>
        </div>
        <div class="container-fluid" style="min-height: 750px;" *ngFor='let trip of trips, let i = index' >
            <mat-card >
                <mat-card-title class="">{{ trip.name }}</mat-card-title>
                <mat-card-header class="">{{ trip.dateRange.start | date }} - {{ trip.dateRange.end | date }} </mat-card-header>
                <br>
                <mat-card-content class="">
                    <mat-accordion>
                        <div *ngFor='let day of trip.schedule, let j = index'>
                            <mat-expansion-panel >
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        day {{ j+1 }}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        description
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <!-- <table mat-table dataSource='{{day.venues}}'>
                                    <ng-container matColumnDef="venueName">
                                        <th mat-header-cell *matHeaderCellDef> Venue Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="['venueName']"></tr>
                                    <tr mat-row *matRowDef="let row; columns: 'venueName';"></tr>
                                </table> -->
                            </mat-expansion-panel>
                            <ng-template #popcontent><app-add-venue-popover [tripIndex]='i' [dayIndex]='j'></app-add-venue-popover></ng-template>
                            <div id="lineBtn">
                                <hr id="hrBtn">
                                <button mat-mini-fab id="addIcon" [ngbPopover]='popcontent' placement="bottom" [autoClose]="false">
                                    <mat-icon id='addIcon'>add_location</mat-icon>
                                </button>
                                <hr id="hrBtn">
                            </div>
                        </div>

                    </mat-accordion>
              
                </mat-card-content>
                <mat-card-actions class="">
                    <button mat-button color='warn' (click)='onDelete(trip.name, i)'>
                        delete
                    </button>
                    <button mat-button color='primary'>
                        complete!
                    </button>
                </mat-card-actions>
            </mat-card>
            <br>    
        </div>
    </div>
</div>

<mat-grid-list *ngIf='!sessionState' cols='4' >
    <mat-grid-tile colspan='4'>
        <div class="container-fluid row justify-content-center rounded" style="background-color: rgba(255, 255, 255, 0.9); margin: 10%; padding: 5%;">
            <button mat-flat-button color='accent' style="align-content: center;" routerLink='/login'>
                <p style="margin: 0;">You must have an Account to Create a Trip</p>
            </button>   
        </div>
    </mat-grid-tile>
</mat-grid-list>