<!-- search bar -->
<form [formGroup]='searchBarForm' (ngSubmit)='onSubmit()' class='container-fluid row' style="min-width: 100%; background-color: rgba(255, 255, 255, 0.9); margin: 0; padding: 0;">
  <span class="col row mr-auto" style="padding-top: 1em; margin: 0; padding-right: 0; padding-left: 0;">
    <!-- venue name -->
    <mat-form-field class="col align-self-center" appearance="outline">
      <mat-label>Search for {{defaultCategory === 'All'? '...' : defaultCategory}}</mat-label>
      <input matInput #search
        type='search'
        placeholder='Ex: restaurant'
        aria-label='Search'
        autocomplete='off'
        formControlName='venueName'
        (keydown.enter)='onSubmit()'>
      <button mat-button *ngIf="search.value" matSuffix mat-icon-button aria-label="Clear" (click)="search.value=''" type='button'>
        <mat-icon>close</mat-icon>  
      </button>
      <i fas fa-search aria-hidden="true"></i>
    </mat-form-field>
    &nbsp;
    <p class="align-self-center" *ngIf='defaultFilter === "1" || defaultFilter === "0"'>in</p>
    &nbsp;
    <!-- venue location -->
    <app-city-search appearance='outline' placeholder='Region' [clearOnSearch]='false' class="col align-self-center" *ngIf='defaultFilter === "1" || defaultFilter === "0"'></app-city-search>
    <mat-divider vertical="true" style="margin-bottom: 1em;"></mat-divider>
    <!-- filter user|venues -->
    <mat-form-field class="col-auto align-self-center" *ngIf='!isChild'>
      <mat-label>Filter</mat-label>
      <mat-select [(ngModel)]='defaultFilter' [ngModelOptions]="{standalone: true}" (selectionChange)='changeFilter($event)'>
        <mat-option value='0'>All</mat-option>
        <mat-option value='1'>Venues</mat-option>
        <mat-option value='2'>Users</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- filter categories -->
    <mat-form-field class="col-auto align-self-center" appearance='outline' *ngIf='isChild'>
      <mat-label>Category</mat-label>
      <mat-select [(value)]='defaultCategory'>
          <mat-option value='All'>All</mat-option>
          <mat-option *ngFor='let category of categories' [value]='category.name'>{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- submit -->
    <div class="col-auto" style="padding-top: 1em;">
      <button mat-raised-button class="align-self-center" color='primary' (click)='onSubmit()' matTooltip='select a city to search in or drag the area you want to search to the center of the visible map' matTooltipShowDelay='800'>
        <mat-icon>search</mat-icon>
      </button>        
    </div>
  </span> 
</form>

<router-outlet *ngIf='!isChild'></router-outlet>
