button:focus {
  outline: none;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #e0dfdf;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  // color: red;
}