<mat-card class="container" *ngIf="content">
  <mat-card-title>
    <div class="row">
      <button mat-button (click)='goBack()' *ngIf="this.openTab.prePath" class="col-auto" matTooltip="back">
        <mat-icon class="">
          keyboard_backspace
        </mat-icon>
      </button>

      <span class="col md-auto">{{ content.name }}</span>

      <button mat-button class="col-auto align-self-end" matTooltip="add to trip">
        <mat-icon >
          playlist_add
        </mat-icon>
      </button>
    </div>
  </mat-card-title>
  <mat-card-content class="">


    <mat-grid-list cols="4" rowHeight="1:1">

      <mat-grid-tile id='imgTile'colspan="2" rowspan="3" >
        <img id='img' src="{{ content.bestPhoto.prefix + 'original' + content.bestPhoto.suffix}}" alt="Photo">
        <!-- need button for additional pictures -->
      </mat-grid-tile>

      <mat-grid-tile colspan="2" rowspan="3" class="container">
        <div>
          <!-- get page info -->
          <div class="div">{{content | null:['page','pageInfo','description']}}</div>
          <!-- each categories -->
          <div class="div">
            <span *ngFor="let category of content.categories">
                {{category.name | null}}
            </span>
          </div>

          <!-- need for each for attributes -->
          <div class="div" *ngFor="let attribute of content.attributes | keyvalue | null">
            {{attribute.name +'|'+ attribute.summary +'|'+ attribute.type}}
          </div>

          <!-- need rating -->
          <div class="div">
            {{content.rating | null}}
          </div>
          <!-- need price -->
      </div>
      </mat-grid-tile>









      <mat-grid-tile colspan="4" >3</mat-grid-tile>
    </mat-grid-list>
     <!-- need tips -->
      <!-- <ul > -->
        <!-- <li *ngFor='let pair of content | keyvalue'>
          {{ pair.key }}: {{ pair.value }}
        </li> -->
      <!-- </ul> -->

  </mat-card-content>
</mat-card>
