<div id='password'>
    <h3 *ngIf='!changing'>Password
        <br>
        {{ password }}
    </h3>
    <form *ngIf='changing' [formGroup]='changeForm' (ngSubmit)='onSubmit()'>
        <div class='form-group'>
            <label for='newPassword'>New Password</label>
            <input type='text' id='newPassword' formControlName='newPassword' class='form-control'>
        </div>        
        <button *ngIf='changing' class='btn btn-danger' type='submit'>Confirm</button>
        <button *ngIf='changing' class='btn btn-light' id='cancel' (click)='onClick()'>Cancel</button> 
    </form>
    <button *ngIf='!changing' class='btn btn-danger' (click)='onClick()'>Change Password</button>
</div>