<mat-horizontal-stepper linear #stepper>
  <mat-step #step1 label='Create Your Account' [editable]='editable' [optional]="false">
      <app-registrationpage #registration [stepper]='stepper'></app-registrationpage>
      <div>
      </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Tell Us Where You've Been" [optional]="true">
    <app-country-selector #selector1 [progressUpdate]='stepper._getFocusIndex()' [target]='1'></app-country-selector>
    <div>
      <button mat-stroked-button matStepperNext color='primary'>Next</button>
    </div>
  </mat-step>
  <mat-step label='Where Do You Want To Go' [optional]="true">
    <app-country-selector #selector2 [progressUpdate]='stepper._getFocusIndex()' [target]='2'></app-country-selector>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-raised-button color='primary' (click)='savePreferences()'>Save</button>
      <button mat-button *ngIf='isSaving'><mat-spinner diameter='32'></mat-spinner></button>
      <button mat-button *ngIf='isDone' class="text-success">Preferences Saved!</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>