<mat-form-field class="example-full-width" style="width: 100%;" [appearance]='appearance' matTooltip='{{searchInput.value}}' matTooltipShowDelay='800'>
    <mat-label>{{ placeholder }}</mat-label>
    <input type='text'
    #searchInput="matInput"
    matInput
    placeholder="Ex. Berlin"
    [matAutocomplete]="auto"
    [formControl]="myControl"
    [(ngModel)]='value'
    autocomplete="off">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''" type='button'>
        <mat-icon>close</mat-icon>
    </button>
    <small *ngIf='!checkCityValidity() && myControl.touched' class="text-danger">this is not a valid region</small>
    <mat-autocomplete #auto='matAutocomplete' panelWidth='25%'> 
        <mat-spinner *ngIf='isLoading' style="margin:0 auto;"></mat-spinner>
        <mat-option *ngFor='let country of autoSuggested | async' [value]='country.name' (onSelectionChange)='onOptionClick(country)'>
            <span>{{ country.name }}</span>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>