
<div>
    <form id = 'form' (submit)="loginClicked(password.value, username.value, $event)">
        <h1 class='jumbotron'>Login</h1>
       <!-- email -->
        <div class="form-group">
            <label for="exampleInputEmail1">Email or Username</label>
            <input #username type="text" class="form-control" id="email/user" aria-describedby="emailHelp" required>
          </div>
        <!-- password -->
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input #password type="password" class="form-control" id="password" pattern='.{5,}' required title="please enter your password" required>
        </div>
        <button type="submit" id ='submit' class="btn btn-primary" aria-required="true" >Login</button>
      </form>
</div>

