
<div class="container-fluid">

  <div class="row">
      <div class="col-10 row" id="chatroom" style="background-color:blue;" *ngIf='sessionState'>
        <div class="col-sm"></div>
        <app-chatwidget class="ml-auto"
        *ngFor='let widget of openChatWidgets.roomNames, let i = index '
        [roomName]="widget"
        [roomId]='openChatWidgets.roomIds[i]'>
        </app-chatwidget>
      </div>
      <div class="col-2" style="background-color: pink;">
        <app-friendlist></app-friendlist>
      </div>
  </div>
</div>

