.chatwidget {
  padding-left: 10px;
  padding-right: 10px;
}

.row{
  max-height: 310px;
}

app-chatwidget {
  z-index: 2;
  margin-left: 0;
  margin-right: 0;
  padding-right: 0px;
  border-color: blue($color: #000000);
}

app-friendlist {
  right: 1%;
  bottom: 2vh;
  position: fixed;
}

