<div class="container-fluid" id="border">
  <div class="row-12 chatwidget">

    <div id='border' class="col-8 col-sm-8 col-md-8 col-lg-10 col-xl-11">
      <div class='container-fluid'>
        <div class="row justify-content-end">
          <app-chatwidget
            (click)='refreshRoom(openChatWidgets.roomIds[i])'
            *ngFor='let widget of openChatWidgets.roomNames, let i = index '
            [roomName]="widget"
            [roomId]='openChatWidgets.roomIds[i]'>
          </app-chatwidget>
        </div>
      </div>
    </div>

    <div id='border' class="col-4 col-sm-4 col-md-4 col-lg-2 col-xl-1">
      <app-friendlist></app-friendlist>
    </div>

  </div>
</div>
