<div id="main" class="border border-secondary rounded">
    <div *ngIf='User'>
        <app-proprety *ngFor='let proprety of propreties; let i = index' [username]='User.username' [proprety]='proprety' [propretyValue]='values[i]'></app-proprety>
        <div id='delete'>
            <button class='btn btn-danger'>Delete Account</button>
        </div>
    </div>
    <div *ngIf='!User'>
        Error: User not found
    </div>
    <button class="btn btn-secondary" (click)='onExit()'>Back</button>   
</div>