<div id="main" class="container-fluid rounded">

    <!-- after fetching data -->
    <div *ngIf='User'>

        <!-- generate propreties -->
        <app-proprety *ngFor='let proprety of propreties; let i = index' [username]='User.username' [proprety]='proprety' [propretyValue]='values[i]'></app-proprety>
        <div id='delete'>
            <button class='btn btn-danger' (click)='onDelete()'>Delete Account</button>
        </div>
    </div>

    <!-- no wifi or user not found -->
    <div *ngIf='!User'>
        Error: User not found
    </div>
    <button class="btn btn-secondary" (click)='onExit()'>Back</button>   
</div>