<form class="example-form row align-items-center">
    <!-- city search autocomplete -->
    <app-city-search #citySearch class="col" [appearance]='citySearchAppearance' [placheholder]='citySearchPlaceholder'></app-city-search>
    <div class="col-auto mr-auto">
        <span><strong>Or</strong></span>
    </div>
    <div class="col-auto mr-auto">
        <button mat-button><span>Click on the map</span></button>
    </div>
</form>
<!-- <img *ngIf='!citySearchComponent.myControl.dirty' src="https://img.icons8.com/bubbles/100/000000/geography.png" class="img" style="margin-left: 25%;">
<small *ngIf='!citySearchComponent.myControl.dirty'><a href="https://icons8.com/icon/113643/geography">Geography icon by Icons8</a></small> -->

<div id="mainList" #mainlist [hidden]="Place.places.length == 0? true:false" *ngFor="let Place of allPlaces, let i = index">
    <button mat-raised-button  class="mat-chip-list-stacked" aria-orientation="vertical">
        {{ Place.continent }}
    </button>
    <br>
    <mat-chip-list class="">
        <mat-chip *ngFor='let place of allPlaces[i].places'
            (removed)=onRemove(place,i)>
            {{ place }}
            <mat-icon matChipRemove class="" *ngIf='removable'>cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>
    <hr>
</div>
<br>
<div class="row-auto">
    <button mat-button *ngIf='true' color='warn' (click)='onClear()'>Clear</button>
</div>
<br>
