<form class="example-form row align-items-center">
    <mat-form-field class="example-full-width" class="col">
        <mat-label>Search Locations</mat-label>
        <input type='text' 
        matInput
        placeholder="Ex. Berlin"
        [matAutocomplete]="auto"
        [formControl]="myControl"
        [(ngModel)]='value'>
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #auto='matAutocomplete' (optionSelected)='onSelected($event)'>
            <mat-spinner *ngIf='isLoading' style="margin:0 auto;"></mat-spinner>
            <mat-option *ngFor='let coutry of autoSuggestCountries | async' [value]='coutry.name' (click)='passData(coutry)'>
                <span>{{ coutry.name }}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <div class="col-auto mr-auto">
        <span><strong>Or</strong></span>
    </div>
    <div class="col-auto mr-auto">
        <button mat-button><span>Click on the map</span></button>
    </div>
</form>
<img *ngIf='!myControl.dirty' src="https://img.icons8.com/bubbles/100/000000/geography.png" class="img" style="margin-left: 25%;">
<small *ngIf='!myControl.dirty'><a href="https://icons8.com/icon/113643/geography">Geography icon by Icons8</a></small>

<div id="mainList" #mainlist [hidden]='Place.places.length == 0? true:false' *ngFor="let Place of allPlaces, let i = index">
    <button mat-raised-button  class="mat-chip-list-stacked" aria-orientation="vertical">
        {{ Place.continent }}
    </button>
    <br>
    <mat-chip-list class="">
        <mat-chip *ngFor='let place of allPlaces[i].places'
            (removed)=onRemove(place,i)>
            {{ place }}
            <mat-icon matChipRemove class="" *ngIf='removable'>cancel</mat-icon>
        </mat-chip>
    </mat-chip-list>
    <hr>
</div>
<div class="row-auto">
    <button mat-button *ngIf='true' class="btn-danger" (click)='onClear()'>Clear</button>
</div>
<br>