<div>
    <h3 *ngIf='!changing'> 
        {{ proprety | titlecase }}
        <br>
        {{ propretyValue }}
    </h3>
    <form *ngIf='changing' [formGroup]='changeForm' (ngSubmit)='onSubmit()'>
        <div class='form-group'>
            <div *ngIf='proprety == "password"'>
                <label for='newPropretyValue'>Old {{ proprety | titlecase }}</label>  
                <input type='text' formControlName='oldPassword' class='form-control'>
            </div>
            <label for='newPropretyValue'>New {{ proprety | titlecase }}</label>            
            <div *ngIf='invalid'>
                Invalid {{ proprety | titlecase}}!
                <br>
            </div>
            <input type='text' formControlName='newPropretyValue' class='form-control'>
        </div>        
        <button *ngIf='changing' class='btn btn-danger' type='submit'>Confirm</button>
        <button *ngIf='changing' class='btn btn-light' id='cancel' (click)='onClick()'>Cancel</button> 
    </form>
    <button *ngIf='!changing' class='btn btn-danger' (click)='onClick()'>Change {{ proprety | titlecase }}</button>
</div>