mat-card {
  display: flex;
}

.inline {
  text-align: left;
}

mat-card-header:hover, #description:hover, mat-icon:hover {
  cursor: pointer;
}

.description:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}
