<mat-card *ngIf="searchResult.venue">
  <mat-card-header (click)='navigate()' >
    <mat-card-title>{{searchResult|null:['venue','name']}}</mat-card-title>
    <mat-card-subtitle>
      <p *ngFor="let item of (searchResult|null: ['venue','categories'])" class="inline">{{item.name}}</p>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="container-fluid justify-content-end">
    <p class="description text-right d-flex flex-row-reverse"  (click)='navigate()'>
      {{searchResult|null:['venue','location','address']}}
    </p>
    <hr>
    <!-- quick actions -->
    <span class="row justify-content-end">
      <!-- show on map -->
      <button mat-button class="col-auto mr-auto" (click)='showLocation()'>
        <mat-icon mat-icon-button matTooltip="show on map" matTooltipPosition='above' color='primary'>map</mat-icon>
      </button>
      <!-- add to trip -->
      <button mat-button class="col-auto mr-auto">
        <mat-icon mat-icon-button *ngIf='!isErr && !isLoading && !isSuccess' matTooltipPosition='above' [ngbPopover]="popContent" matTooltip="add to trip..." [autoClose]="'outside'">playlist_add</mat-icon>
        <mat-spinner diameter='20' *ngIf='isLoading'></mat-spinner>
        <mat-icon mat-icon-button class="text-success" *ngIf='isSuccess && !isLoading'>check</mat-icon>
        <mat-icon mat-icon-button class="text-danger" *ngIf='isErr && !isLoading' matTooltip='an error occured'>error</mat-icon>
      </button>
    </span>
  </mat-card-content>
</mat-card>

<!-- add to trip -->
<ng-template #popContent> 
  <app-add-to-trip-popover (onSubmitEvent)='addToTrip($event)'></app-add-to-trip-popover>
</ng-template>
