mat-card {
  display: flex;
}

.inline {
  text-align: left;
}

mat-card-header:hover, #description:hover, mat-icon:hover {
  cursor: pointer;
}

.description:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

::ng-deep .popover{
  max-width: 100%; /* Max Width of the popover (depending on the container!) */
  min-width: 400px;
}