<mat-accordion  disabled *ngIf="categories">

  <div class="container-fluid" style="margin-top: 1%; margin-bottom: 1%;">
    <mat-chip-list>
      <mat-chip>
        wt
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>

  <mat-expansion-panel *ngFor="let category of categories; let i = index" #exp>
    <mat-expansion-panel-header>
      <!-- general category checkbox -->
      <mat-panel-title>
          <mat-checkbox class="checkbox"
          [checked]="allComplete"
          [indeterminate]="someComplete(i)"
          (change)="setAll(i,$event.checked)"
          (click)='exp.toggle()'>
            {{category.name}}
          </mat-checkbox>
      </mat-panel-title>

    </mat-expansion-panel-header>
      <div class="container-fluid small">
        <div *ngFor="let subcategory of category.categories;">
          <mat-checkbox
          [(ngModel)]="subcategory.completed"
          (ngModelChange)="updateAllComplete(i)"
          (click)='exp.toggle()'>
            {{subcategory.name}}
          </mat-checkbox>
        </div>
      </div>
  </mat-expansion-panel>
</mat-accordion>



