
<mat-accordion  disabled *ngIf="categories">
  <mat-expansion-panel *ngFor="let category of categories; let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title>


        <mat-checkbox class="checkbox"
        [checked]="allComplete"
        [indeterminate]="someComplete(i)"
        (change)="setAll(i,$event.checked)">
        </mat-checkbox>
        {{category.name}}


      </mat-panel-title>

    </mat-expansion-panel-header>
      <div class="small">
        <div *ngFor="let subcategory of category.categories;">
          <mat-checkbox
          [(ngModel)]="subcategory.completed"
          (ngModelChange)="updateAllComplete(i)">
          {{subcategory.name}}</mat-checkbox>
        </div>
      </div>


  </mat-expansion-panel>
</mat-accordion>



