<div class="container-fluid row" style="margin: 0; padding: 0;">
    <div class="col mr-auto"*ngIf="openTab.content" style="margin-left: 0; padding-left: 0;">
      <br>
      <mat-card *ngIf="openTab.content.venues.length === 0 && openTab.content.users.length === 0">
        <!-- loading animation -->
        <div *ngIf='queryParams.query && loading' class="container-fluid row justify-content-center" style="overflow: hidden; padding-top: 1em;">
          <mat-spinner class="col-auto"></mat-spinner>
        </div>
        <!-- nothing found -->
        <mat-card-header>
          <mat-card-title *ngIf='queryParams.query && !loading'>
            No Matches Found...
          </mat-card-title>
          <!-- no query param -->
          <mat-card-title *ngIf='!queryParams.query && !loading'>
            Search Something!
          </mat-card-title>
        </mat-card-header>
      </mat-card>
      <!-- display venues -->
      <div *ngIf="checkFilter(1)" style="min-height: 600px;">
        <div *ngFor="let result of openTab.content.venues">
          <div *ngIf="categoriesSet && checkIfChecked(result.venue.categories[0].id)">
            <app-venueButton [result]="result"></app-venueButton>
            <br>
          </div>
        </div>
      </div>
      <!-- display users -->
      <div *ngIf="checkFilter(2)" style="min-height: 600px;">
        <div *ngFor="let result of openTab.content.users">
          <app-userbutton [result]="result"></app-userbutton>
        </div>
      </div>
    </div>
    <div class="col justify-content-end" style="padding-right: 0; margin-right: 0;">
      <app-filter></app-filter>
    </div>
</div>
