#icon {
    position: relative;
    top: 15px;
    right: 20px;
}

#searchResultsContainer {
    background-color: rgba(255,255,255, $alpha: 0.9);
}

.row {
    z-index: 1;
    padding-top: 0.8%;
    // background-color: rgba(20,255,255,0);
}

.input {
    padding: 2%;
}

img {
    max-width: 60px;
}
#header{
  width: 100%;
}
