<div>
    <!-- name and value -->
    <h3 *ngIf='!changing'> 
        {{ proprety | titlecase }}
        <br>
        {{ propretyValue }}
    </h3>

    <!-- if user decides to change -->
    <form *ngIf='changing' [formGroup]='changeForm' (ngSubmit)='onSubmit()'>
        <div class='form-group'>

            <!-- old password -->
            <div *ngIf='proprety == "password"'>
                <label for='newPropretyValue'>Old {{ proprety | titlecase }}</label>  
                <input type='text' formControlName='oldPassword' class='form-control'>
            </div>

            <!-- new proprety space -->
            <label for='newPropretyValue'>New {{ proprety | titlecase }}</label>            
            <div *ngIf='invalid'>
                Invalid {{ proprety | titlecase }}!
                <br>
            </div>

            <!-- all but birthdate and gender -->
            <input *ngIf='proprety != "birthdate" && proprety != "gender"' type='text' formControlName='newPropretyValue' class='form-control'>

            <!-- birthdate -->
            <div *ngIf='proprety == "birthdate"'>
                <input [minDate]="{year: 1900, month: 1, day: 1}" [maxDate]="{year: 2020, month: 1, day: 1}"
                placeholder="yyyy-mm-dd" formControlName="newPropretyValue" [(ngModel)]="model" name="dp" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                    <button id='calendar' class="btn btn-outline-secondary calendar"
                    (click)="d.toggle()" type="button"><mat-icon>calendar_today</mat-icon></button>
                </div>
            </div>

            <!-- gender -->
            <div *ngIf='proprety == "gender"'> 
                <mat-radio-group aria-label="Select an option" class="row"
                formControlName="newPropretyValue">
                  <mat-radio-button value="Male" class='col-4'>Male</mat-radio-button>
                  <mat-radio-button value="Female" class='col-4'>Female</mat-radio-button>
                  <mat-radio-button value="Other" class='col-4'>Other</mat-radio-button>
                </mat-radio-group>
            </div>
            
        </div>        
        <button *ngIf='changing' class='btn btn-danger' type='submit'>Confirm</button>
        <button *ngIf='changing' class='btn btn-light' id='cancel' (click)='onClick()'>Cancel</button> 
    </form>
    <button *ngIf='!changing' class='btn btn-danger' (click)='onClick()'>Change {{ proprety | titlecase }}</button>
</div>