<div>
    <h3 *ngIf='!changing'> {{ proprety | titlecase }}
        <br>
        {{ propretyValue }}
    </h3>
    <form *ngIf='changing' [formGroup]='changeForm' (ngSubmit)='onSubmit()'>
        <div class='form-group'>
            <label for='newPropretyValue'>New {{ proprety | titlecase }}</label>
            <input type='text' formControlName='newPropretyValue' class='form-control'>
        </div>        
        <button *ngIf='changing' class='btn btn-danger' type='submit'>Confirm</button>
        <button *ngIf='changing' class='btn btn-light' id='cancel' (click)='onClick()'>Cancel</button> 
    </form>
    <button *ngIf='!changing' class='btn btn-danger' (click)='onClick()'>Change {{ proprety | titlecase }}</button>
</div>